<!-- <ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <p class="font-bold text-lg w-full text-start py-10">Order History</p>
  </div>
  <div class="w-full lg:w-[80%] lg:mx-auto px-5 lg:px-0">
    <div class="xl:flex xl:justify-between">
      <div class="flex items-center flex-wrap mb-10 border border-gray-400 rounded-2xl mr-5 pl-3 w-full xl:w-[67%]">
        <div class="w-[310px] xl:w-[42%] flex justify-between mt-3 mr-9 mb-5" *ngFor="let cart of cartItems">
          <img class="w-1/2 h-[170px] rounded-2xl" alt="Silhouette of mountains" [src]="cart.imageUrl" />
          <div class="w-2/3 ml-3 font-sans">
            <div class="flex justify-between items-center">
              <p class="font-bold">{{cart.productName}}</p>
            </div>
            <div class="">
              <span class="text-sm font-bold pr-1">Size:</span>
              <span class="text-gray-400 text-sm">{{cart.sizeName}}</span>
            </div>
            <div class="">
              <span class="text-sm font-bold pr-1">Stitching:</span>
              <span class="text-gray-400 text-sm">{{cart.stitchingName}}</span>
            </div>
            <div class="">
              <span class="text-sm font-bold pr-1">Lining:</span>
              <span class="text-gray-400 text-xs">{{cart.liningName}}</span>
            </div>
            <div class="">
              <span class="text-sm font-bold pr-1">Price:</span>
              <span class="text-gray-400 text-sm">${{cart.price}}.00</span>
            </div>
            <div class="flex items-center">
              <p class="font-bold pr-1 text-sm">Quantity:</p>
              <div class="text-gray-400">
                <span class="text-gray-500">{{cart.quantity}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="xl:w-[32%] w-full mb-5 xl:mb-0">
        <div class="border border-gray-400 p-2 rounded-2xl w-full mr-5">
          <div class="flex justify-between items-center">
            <p class="font-bold font-sans py-2 text-sm">Order Details</p>
            <p class="font-medium font-sans py-2 text-green-400 text-sm">Processing</p>
          </div>
          <p class="border border-t-gray-500"></p>
          <div>
            <p class="text-xs font-medium pr-1 pt-1.5">Products: <span
                class="text-gray-400 text-xs font-sans font-normal">3</span></p>
            <p class="text-xs font-medium pr-1 pt-1.5">To: <span
                class="text-gray-400 text-xs font-sans font-normal">John Doe</span></p>
            <p class="text-xs font-medium pr-1 pt-1.5">Phone: <span
                class="text-gray-400 text-xs font-sans font-normal">+92 300 1234567</span></p>
            <p class="text-xs font-medium pr-1 pt-1.5">Email: <span
                class="text-gray-400 text-xs font-sans font-normal">{{email}}</span></p>
            <p class="text-xs font-medium pr-1 pt-1.5">Delivery Address: <span
                class="text-gray-400 text-xs font-sans font-normal"> 184 Griffin Street, Gilbert, AZ 85233</span></p>
            <p class="text-xs font-medium pr-1 pt-1.5">Postal Code: <span
                class="text-gray-400 text-xs font-sans font-normal">12345</span></p>
            <p class="text-xs font-medium pr-1 py-1.5">Order Notes: <span
                class="text-gray-400 text-xs font-sans font-normal">-</span></p>
          </div>
          <p class="border border-t-gray-500"></p>
          <div class="">
            <div class="flex justify-between items-center py-1">
              <p class="text-xs font-medium pr-1">Total Amount:</p>
              <p class="text-xs font-medium">$135.00</p>
            </div>
            <div class="flex justify-between items-center py-1">
              <p class="text-xs font-medium pr-1">Tax:</p>
              <p class="text-xs font-medium">$35.00</p>
            </div>
            <div class="flex justify-between items-center py-1">
              <p class="text-xs font-medium pr-1">Delivery Fee:</p>
              <p class="text-xs font-medium">$30.00</p>
            </div>
            <p class="border border-t-gray-500"></p>
            <div class="flex justify-between items-center pt-2 pb-1">
              <p class="text-sm text-gray-800 font-extrabold pr-1">Subtotal:</p>
              <p class="text-sm text-gray-800 font-extrabold">$200.00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content> -->


<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <p class="font-bold text-lg w-full text-start pt-10">Order History</p>
  </div>
  <div class="w-full lg:w-[80%] lg:mx-auto px-5 lg:px-0">
    <div class="md:flex md:items-center md:flex-wrap mb-8">
      <div class="md:w-[32%] w-full border border-gray-400 rounded-2xl p-3 mr-2 mb-3" *ngFor="let order of orders; let i = index">
        <p class="font-bold font-sans py-2 text-lg md:text-base">Order#{{order.id}}</p>
        <div>
          <p class="text-base md:text-xs font-medium pr-1 pt-1.5">Products: <span class="text-gray-400 text-base md:text-xs font-sans font-normal">{{innerArrayLength[i]}}</span></p>
          <p class="text-base md:text-xs font-medium pr-1 pt-1.5">Date: <span class="text-gray-400 text-base md:text-xs font-sans font-normal">{{order.orderDate | date:'medium'}}</span></p>
          <p class="text-base md:text-xs font-medium pr-1 pt-1.5">Delivery Address: <span class="text-gray-400 text-base md:text-xs font-sans font-normal">{{order.street}}</span></p>
          <p class="text-base md:text-xs font-medium pr-1 pt-1.5">Status: <span class="text-gray-400 text-base md:text-xs font-sans font-normal">Processing</span></p>
        </div>
        <div class="md:flex md:justify-between md:items-center">
          <p class="font-medium pr-1 pt-1.5 font-sans">Total Amount:</p>
          <p class="text-gray-900 font-medium text-sm font-sans">${{order.totalPrice}}</p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
